<!DOCTYPE html>
<html>
  <head>
    <title>Is China awake?</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div id="contact">
		<p>
			Hello there! <br><br>

			I'm Arvind, I hope you like this service. <br>
			You can drop me a mail at arvindravi.43 at gmail. <br>
			If you're feeling generous, and a litecoin person, you can donate me at <b>LRHfKM9fJeWwTtxVAtSFfv1CjZyiVPL5Np</b>.<br><br><br>

			Have a great day!
		</p>
	</div>
  </body>
</html>