<!DOCTYPE html>
<html>
  <head>
    <title>Is China awake?</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div id="contact">
		<p>
			Hello there! <br><br>

			I'm Arvind.<br>
			I made this site for fun. :D 
			You can drop me a mail at arvindravi.43 at gmail. <br>
			If you're feeling generous, and a Litecoin person, you can donate me at <b>LRHfKM9fJeWwTtxVAtSFfv1CjZyiVPL5Np</b>.<br><br><br>

			Cheers!
		</p>
	</div>
  </body>
</html>