<!DOCTYPE html>
<html>
  <head>
    <title>Is China awake?</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div id="contact">
		<p>
			Hello there! <br><br>

			I'm Arvind.<br>
			I made this site for fun. :D 
			You can drop me a mail at arvindravi.43 at gmail. <br>
			If you're feeling generous, you can donate to me at LTC: <b>LRHfKM9fJeWwTtxVAtSFfv1CjZyiVPL5Np</b> or BTC: <b>16kX3t6Uey6hvgmDgT53op1mniUuT7ETDb</b>.<br><br><br>

			Cheers!
		</p>
	</div>
	<!-- GA Begin -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-37200107-4', 'jit.su');
		ga('send', 'pageview');
	</script>
	<!-- GA End -->
  </body>
</html>