<!DOCTYPE html>
<html>
  <head>
    <title>Is China awake?</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div class="content">
		<p>
			Hello there! <br />
			
			If you use this site regularly, and if it helps you, please consider donating a little to keep the site running. You can donate to me at the following addresses: <br><br>

			- BTC : <b>16uHFD1CCS9zkrXSXWTHQZanjHJsBSZhVv</b> <br>
			- LTC : <b>LRHfKM9fJeWwTtxVAtSFfv1CjZyiVPL5Np</b> <br><br>
			
			I can't continue to run the site after a <a href="http://i.imgur.com/TfRY5HD.png">while</a> without much funds. Thanks for your time! <br><br>

			Cheers! <br><br>

			Arvind
		</p>
	</div>
	<!-- GA Begin -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-37200107-4', 'jit.su');
		ga('send', 'pageview');
	</script>
	<!-- GA End -->
  </body>
</html>