@import url(http://fonts.googleapis.com/css?family=Andika|Open+Sans|Snippet|Oxygen);
body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
  
}

a {
  color: #00B7FF;
}

#title h1{
	font-family: 'Andika', sans-serif;
	font-size: 50px;
}

.content {
	font-family: 'Andika', sans-serif;
	font-size: 15px;
}

#china {
	font-family: 'Andika', sans-serif;
	font-size: 40px;
}

#time {
	color: gray;
	font-size: 30px;
}

.center {
	text-align: center;
}

.footer {
	color: gray;
	font-family: 'Andika' , sans-serif;
	font-size: 12px;
	margin-top: 370px;
}

.footer a{
	text-decoration: none;
	color: inherit;
}

.footer a:hover {
	color: inherit;
}

.fund {
	margin-left: 40px;
}
